In [1]:
# House price prediction using multi linear regression
# y = m1x1+m2x2+...+b

In [7]:
# importing required modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import linear_model

%matplotlib inline

In [9]:
# loading the dataset

df = pd.read_csv('mhomeprices.csv')

In [10]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [22]:
# Data Pre-processing

In [23]:
#check for null values in the dataset
df.isnull().sum()

area        0
bedrooms    0
age         0
price       0
dtype: int64

In [24]:
# calculating the average value for bedrooms feature
df.bedrooms.median()

4.0

In [49]:
# storing the median value\
import math
bedrooms_median = math.floor(df.bedrooms.median())

In [50]:
#fill the avg value in bedrooms feature
df.bedrooms.fillna(bedrooms_median)

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [51]:
df.bedrooms = df.bedrooms.fillna(bedrooms_median)

In [52]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [53]:
# store the linear object
reg = linear_model.LinearRegression()
reg

LinearRegression()

In [54]:
#fit / train the model

reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [55]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [56]:
reg.intercept_

221323.00186540408

In [57]:
# predict the house price

reg.predict([[3500,5.0,40]])

array([601217.23270725])

In [58]:
112.06244194*3500+23388.88007794*5+-3231.71790863*40+221323.00186540408

601217.2326999041